.new-chat-button {
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    border: 1px solid #ffffff;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #0000004e;
}

.new-chat-button:hover {
    background-color: #0000007c;
}